body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black; /* Можно изменить под стиль */
}

.fullscreen-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
